{
    "plugins": [
      ["module-resolver", {
        "root": ["./"],
        "alias": {
          "Components": "./src/components",
          "Views": "./src/views",
          "Assets": "./src/assets",
          "Src": "./src"
        }
      }]
    ]
  }