{
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "Components": "./src/components",
        "Views": "./src/views",
        "Utils": "./src/utils",
        "Data": "./src/data",
        "Assets": "./src/assets",
        "Src": "./src"
      }
    }]
  ]
}